:root {
    --color-black: #34495E;
    --color-black-dark: #2C3E50;
    --color-white: #ECF0F1;
    --color-white-dark: #BDC3C7;
    --color-red: #E74C3C;
    --color-red-dark: #C0392B;
    --color-blue: #3498DB;
    --color-blue-dark: #2980B9;
    --color-green: #2ECC71;
    --color-green-dark: #27AE60;
    --color-orange: #E67E22;
    --color-orange-dark: #D35400;
    --color-yellow: #F1C40F;
    --color-yellow-dark: #F39C12;
    --color-violet: #9b59b6;
    --color-violet-dark: #8e44ad;
    --color-primary: var(--color-green);
    --color-primary-dark: var(--color-green-dark);
    --color-secondary: var(--color-orange);

    --border-radius: 6px;
}

html, body {height: 100%;}

body {
    margin: 0px;
    padding: 0px;
    background-color: var(--color-black-dark);
    color: var(--color-white);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: solid 2px var(--color-primary);
    padding: 20px;
    box-shadow: 0px 10px 20px #0002;
}

header > h1 {
    margin: 0px;
    padding: 0px;
    color: var(--color-secondary);
}

input {
    border-radius: var(--border-radius);
    background-color: var(--color-black);
    border: none;
    padding: 8px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    color: var(--color-secondary);
    outline: none;
} input:focus {
    color: var(--color-secondary);
    outline: solid 2px var(--color-secondary);
}

.view {
    height: 100%;
    display: flex;
    flex-direction: row;
}

.guests {
    width: 20%;
    height: 100%;
    border-right: solid 2px var(--color-primary);
}

.player {
    display: flex;
    flex-direction: row;
    justify-content: center;
    height: 100%;
    width: 100%;
}

.preview {
    margin: auto;
    text-align: center;
    width: 60%;
    height: 70%;
    max-width: 50vw;
    border: solid 1px var(--color-primary-dark);
    border-radius: var(--border-radius);
    overflow: hidden;
    padding: 10px;
    box-shadow: 0px 10px 20px #0002;
}

.img {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 50%;
}

#thumbnail {
    margin: auto;
    width: 90%;
    height: 90%;
    border-radius: var(--border-radius);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url("");
}

.info {
    border-bottom: solid 1px var(--color-primary-dark);
    height: fit-content;
}
.search {
    height: fit-content;
}

#yt-input {
    margin: 8px;
    width: 90%;
}

#log {
    color: var(--color-white-dark);
    font-style: italic;
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    width: 100%;
    padding: 4px;
    margin: 4px;
    opacity: 0;
    transition: 200ms ease;
}

.guest-title {
    color: var(--color-primary-dark);
    border-bottom: solid 1px var(--color-primary-dark);
    font-size: 16px;
    text-align: center;
    padding: 8px;
    margin: 4px;
}

.guest-box {
    margin: auto;
    padding: 4px 20px;
    margin: 10px auto;
    max-width: 90%;
    width: fit-content;
    background-color: var(--color-black);
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 20px #0002;
} .guest-box > p {
    color: var(--color-primary-dark);
    font-size: 16px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.bar-container {
    border-radius: var(--border-radius);
    height: 20px;
    width: 70%;
    background-color: var(--color-black);
    margin: 10px auto;
    overflow: hidden;
}

#bar-content {
    background-color: var(--color-primary-dark);
    border-radius: var(--border-radius);
    height: 100%;
    width: 0%;
    transition: 200ms ease;
}

.play-zone {
    margin: auto;
    width: 20%;
    height: 70%;
}

.play-title-container {
    height: 10%;
    width: fit-content;
    margin: auto;
}

.play-title-content {
    margin: 0px;
    padding: 0px;
    text-align: center;
    color: var(--color-primary);
    border-bottom: solid 2px var(--color-primary);
}

#playlist {
    height: 90%;
    border: solid 1px var(--color-primary-dark);
    border-radius: var(--border-radius);
    box-shadow: 0px 10px 20px #0002;
    overflow-x: hidden;
    overflow-y: scroll;
}

.list-prev {
    width: 90%;
    margin: 10px auto;
    height: fit-content;
    border-radius: var(--border-radius);
    border: solid 1px var(--color-primary-dark);
    transition: 200ms ease;
    cursor: pointer;
} .list-prev:hover {
    box-shadow: 0px 0px 4px var(--color-primary);
}

.list-img {
    background-color: transparent;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    border-radius: var(--border-radius);
    width: 90%;
    height: 70px;
    margin: 4px auto;
}

.list-text {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-white);
    font-size: 16px;
    padding: 2px;
    margin: 2px;
}